<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}
    {% endblock %}
    <title>SurveyKing: {% block title %}{% endblock %}</title>
</head>
<body class="font">
    <div style="border-bottom: 3px solid #181818;">
        <div class="flex top-page">
            <div style="display:flex; align-items: center;">
                <div>
                    <img style="margin-left: 80px; height:55px; width:auto;" src="/static/images/logo.PNG" :alt="imgAlt">
                </div>
                <h1 class="font-title" style="margin-left: 20px;">
                    SurveyKing
                </h1>
            </div>
            <div style="padding-right: 45px;" class="hidden md:block">
                <a href="/rankings" class="top-btn">Rankings</a>
                <a href="/" class="top-btn">Surveys</a>
                {% if session["user_id"] %}
                <a href="/profile" class="top-btn">Profile</a>
                <a href="/logout" class="top-btn">log out</a>
                {% else %}
                <a href="/login" class="top-btn">Log in</a>
                <a href="/register" class="top-btn">Sign up</a>
                {% endif %}
            </div>
            <div class="px-4 cursor-pointer md:hidden" id="home-list">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 2rem; color: #b4b4b4;" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </div>
        </div>
        <ul id="home-list-items" class="main-list hidden md:hidden">
            <li>
                <a href="/" class="flex l1">
                    <span>Home</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="l4" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="flex l2">
                    <span>Category</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="l4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="flex l3">
                    <span>About</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="l4" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </a>
            </li>
        </ul>
        
    </div>

    {% block content %} 
    <main>
        {% block main %}{% endblock %}
    </main>
    {% endblock %}
    <script src="/static/index.js"></script>
</body>

</html>